@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');@import url('https://fonts.googleapis.com/css2?family=Goldman:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  font-family: "Goldman", cursive;
}

nav {
  display: flex;
  width: 100%;
  padding: 2rem;
  min-height: 10vh;
  align-items: center;
  flex-wrap: wrap;
  margin: auto;
  background: #00a8c7;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
}
nav ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 90px;
}
nav li {
  font-size: 2.5rem;
  padding: 0 4rem 0 4rem;
}
nav a {
  color: white;
  text-decoration: none;
}
nav img {
  width: 5vw;
}


.background{
  width: 500px;
  height: auto;
}

.colorhtml{
  color: #0071BB;
}

.colorcss{
  color: #E44D27;
}

.imghtmlcss{
  width: 300px;
  height: 300px;
  
}

.containerimghtmlcss{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 100px;
}
.containerhtmlcss{
  width: 100vw;
  height: 110vh;
  text-align: center;
  margin-top: 100px;
}

.htmlcss{
  width: 500px;
  margin-left: 80px;
  text-align: left;
  font-size: 20px;
}

footer{
  width: 100vw;
  min-height: 10vh;
  color: white;
  text-align: center;
  padding-top: 30px;
  font-size: 15px;
  position: fixed;
  bottom: 0;
  left: 0;
}

.main{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
  background-image: url(img/background.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
}

.c2{
  color: white; 
  font-size: 50px;
}


.containerimghtmlcss{
  margin-top: 80px;
}

.hoofdstukhtmlcss{
  font-size: 50px;
  padding-top: 100px;
}
/* Javascript */
.javabody{
  background-color: black;
}

.javah2, .javap, .hoofdstukjava{
  color: white;
}

.colorjava{
  color: #F7DF1E;
}

.javacontainer{
  width: 100vw;
  height: 110vh;
  text-align: center;
  margin-top: 150px;
}

.imgjava{
  width: 300px;
  height: 300px;
}

.alljava{
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60vh;
  margin-top: 30px;
  gap: 150px;
}



.containerph2{
  width: 500px;
  text-align: left;
}

.containerph2{
  font-size: 20px;
}

.hoofdstukjava{
  font-size: 50px;
  margin-top: 30px;
}

/* php */
.phpcontainer{
  width: 100vw;
  height: 110vh;
  text-align: center;
  margin-top: 150px;
}

.containerimgph2{
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
}

.imgphp{
  width: 400px;
  height: 200px;
}

.containerph2php{
  width: 500px;
}

.colorphp{
  color:#8993BE ;
}

.containerph2php{
  font-size: 20px;
  margin-left: 100px;
}

.pphp{
  font-weight: 100;
}

.hoofdstukphp{
  font-size: 50px;
  margin-top: 30px;
}



/* SQL */


.sqlcontainer{
  width: 100vw;
  height: 110vh;
  text-align: center;
  margin-top: 150px;
}

.containerph2sql{
  width: 400px;
  margin-right: 120px;
  color: white;
}

.imgsql{
  width: 400px;
  height: 200px;
}

.colorsql{
  color: #E48E00 ;
}

.containerimgph2sql{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  font-size: 16px;
  text-align: left;
}

.hoofdstuksql{
  padding-top: 50px;
  font-size: 50px;
  color: white;
}

.sqlbody{
  background-color: black;
}

  /* Contact */

.contactall{
  width: 100vw;
  height: 105vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
}

form{
  width: 400px;
  text-align: left;
  }



.contacth1{
  padding-top: 10px;
  font-size: 30px;
}

.contactbutton{
  padding: 5px 170px;
  background-color: #00A8C7;
  border: none;
  color: white;
}


input{
  width: 400px;
  margin: 10px 0;
}

.inputmessage{
  width: 400px;
  height: 100px;
}

label{
  font-size: larger;
}

/* dropdown */

.dropdown-content{
  display: none;
  position: absolute;
  background-color: white;
  width: 200px;
  z-index: 1;
  margin-top: 40px;
}

.dropdown-content a{
  color:#00A8C7 ;
  display: block;
  padding: 5px;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown:hover .dropbtn{
  padding: 40px 30px;
  color: #00a8c7;
  background-color: white;
}

.dropdownoop:hover, .dropdownlaravel:hover, .dropdowntesten:hover{
  width: 200px;
  height: auto;
  background-color: #E9E9E9;
}
